:root {
  --CoolGray-50: #f9fafa;
  --CoolGray-200: #dbe1e4;
  --CoolGray-250: #dae0e3;
  --CoolGray-300: #d1dadd;
  --CoolGray-350: #b7c5c8;
  --CoolGray-400: #a0b1b5;
  --CoolGray-500: #576f76;
  --CoolGray-600: #33464c;
  --CoolGray-650: #2a3d42;
  --CoolGray-700: #213237;
  --CoolGray-750: #1a282d;
  --CoolGray-800: #131f24;
  --PureGray-450: #919191;
  --Orangered-500: #d93b01;
  --Orangered-600: #721e01;
  --MintGreen-600: #00443c;
  --KiwiGreen-500: #0c8a00;
  --KiwiGreen-600: #096100;
  --KiwiGreen-700: #094a01;
  --Green-500: #01a484;
  --Red-600: #a50016;
  --Red-700: #7e0011;
  --border-radius-sm: 6px;
  --border-radius-md: 2rem;
  --poem-height: 175px;
  font-size: 0.8rem;
}

* {
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  background-color: var(--CoolGray-200);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.3;
  transition: opacity 0.2s;
}

body.hide {
  opacity: 0;
}

section {
  width: 100%;
}

h1 {
  margin: 0 0 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

h3 {
  margin: 0 0 0.5rem;
  font-size: 12px;
  font-weight: 600;
  color: rgb(87, 111, 118);
  text-transform: uppercase;
}

input[type="text"] {
  padding: 0.625rem 1.25em;
  background-color: var(--CoolGray-50);
  border: none;
  border-radius: var(--border-radius-md);
}

button {
  padding: 0.625rem 1.25em;
  background-color: #0045AC;
  border: none;
  border-radius: var(--border-radius-md);
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #003584;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

a {
  color: var(--Green-500);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.words {
  max-height: calc(100vh - var(--poem-height));
}

section.poem {
  height: var(--poem-height);
}

.title {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.asterisk {
  color: var(--Orangered-500);
}

.magnet,
.syllables {
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  word-break: keep-all;
  user-select: none;
  cursor: pointer;
}

.syllables {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1rem;
  height: 100%;
  background-color: var(--CoolGray-350);
  border-radius: 50%;
  font-size: 0.8rem;
  text-align: center;
  transition: all 0.2s;
}

.syllables.active,
.syllables:hover,
.line:has(.shadow:hover) .syllables {
  background-color: var(--Green-500);
  color: #fff;
}

.magnet {
  height: fit-content;
  background-color: var(--CoolGray-600);
  border-radius: var(--border-radius-sm);
  transition: 0.2 all;
}

.magnet.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.magnet:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

#submit {
  margin-left: 1rem;
}

#words {
  display: flex;
  justify-content flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  overflow: auto;
}

#words .magnet:hover {
  background-color: var(--Green-500);
}

#poem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#poem .line {
  position: relative;
  display: grid;
  grid-template-areas: "syllables words";
  grid-template-columns: 2rem 1fr 0;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
}

#poem .magnets {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.5rem;
  overflow: auto;
}

#poem .magnet:hover {
  background-color: var(--Orangered-500);
}

.shadow {
  display: none;
  grid-area: words;
  width: 250px;
  height: 100%;
  margin-left: 0.5rem;
  background-color: var(--CoolGray-350);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.line:nth-child(2) .shadow {
  width: 300px;
}

.magnets:empty + .shadow {
  display: block;
}

.help {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#help-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--CoolGray-350);
  border-radius: 50%;
  transition: background-color 0.2s;
  cursor: pointer;
  user-select: none;
}

#help-btn:hover {
  background-color: var(--CoolGray-400);
}

#help {
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
  width: 400px;
  max-width: calc(100vw - 4rem);
  max-height: calc(100vh - 6rem);
  padding: 2rem 2rem 1rem;
  background-color: var(--CoolGray-50);
  border-radius: var(--border-radius-sm);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  color: rgb(87, 111, 118);
  overflow: auto;
}

#help.hide {
  display: none;
}

.blink {
  animation: blink 0.15s ease-in;
}

@keyframes blink {
  70% {
    transform: scaleX(1.1);
  }

  100% {
    transform: scaleX(1);
  }
}

@media (max-width: 640px) {
  .magnet,
  .syllables {
    padding: 2px 4px;
  }
}
