:root {
  --primary-color: #6b7280;
  --background-color: #f3f4f6;
  --text-color: #374151;
  --border-radius-sm: 6px;
  --border-radius-md: 2rem;
  --shadow-color: #faf9f8;
  --poem-height: 175px;
  --red: #e95c58;
  --blue: #0045AC;
  --green: #649398;
  --green-dark: #1f3f4d;
  --magnet-color: #eeece3;
/*  --shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
  font-size: 0.8rem;
}

* {
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
/*  background-color: var(--background-color);*/
/*  color: var(--text-color);*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.3;
  transition: opacity 0.2s;
}

body.hide {
  opacity: 0;
}

section {
  width: 100%;
}

h1 {
  margin: 0 0 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

h3 {
  margin: 0 0 0.5rem;
  font-size: 12px;
  font-weight: 600;
  color: rgb(87, 111, 118);
  text-transform: uppercase;
}

input[type="text"] {
  padding: 0.625rem 1.25em;
  background-color: #e5ebee;
  border: none;
  border-radius: var(--border-radius-md);
}

button {
  padding: 0.625rem 1.25em;
  background-color: var(--blue);
  border: none;
  border-radius: var(--border-radius-md);
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #003584;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.words {
  max-height: calc(100vh - var(--poem-height));
}

section.poem {
  height: var(--poem-height);
}

.title {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.asterisk {
  color: #bc0117;
}

.magnet,
.syllables {
  display: inline-block;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.1);
  background-color: var(--magnet-color);
/*  border: 1px solid rgba(0, 0, 0, 0.2);*/
  border-radius: var(--border-radius-sm);
  word-break: keep-all;
  color: rgba(0, 0, 0, 0.9);
  user-select: none;
  cursor: pointer;
  transition: all 0.2;
}

.magnet {
  height: fit-content;
}

.magnet.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.magnet:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.syllables {
  border-radius: 50%;
}

#submit {
  margin-left: 1rem;
}

#poem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#poem .line {
  position: relative;
  display: grid;
  grid-template-areas: "syllables words";
  grid-template-columns: 2rem 1fr 0;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
}

#poem .magnets {
  height: 100%;
}

#poem .shadow {
  display: none;
  grid-area: words;
  width: 250px;
  height: 100%;
  background-color: var(--shadow-color);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

#poem .line:nth-child(2) .shadow {
  width: 350px;
}

#poem .magnets:empty + .shadow {
  display: block;
}

#poem .syllables {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1rem;
  height: 100%;
  background-color: var(--green);
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

#poem .syllables.active {
  background-color: var(--green-dark);
}

#words,
#poem .magnets {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: auto;
}

#words {
  flex-wrap: wrap;
  justify-content flex-start;
  margin-bottom: 1rem;
}

#words .magnet:hover {
  background-color: var(--green);
}

#poem .magnet:hover {
  background-color: var(--red);
}

@media (max-width: 640px) {
  .magnet,
  .syllables {
    padding: 2px 4px;
  }
/*  body {
    padding: 0.75rem;
    gap: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }*/
}
